<!DOCTYPE html>
<html>
  <head>
    <title>Stock Forecast</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="project.css">

  </head>


<body>
Inorder to create this application/website we used ruby, sublime, html and css.

We created a class called Stock
In this we initialized and we also made a readers for it


We then created the class Stockgetter
Here we initialized
We also placed our page url and scraped from the page


After that we started created our front-end for the page
For the front-end we added some more details to the page
We also used a code to create a drop-down list
We then linked the list to their designated stocks

Stock Forecaster is a web application. 
It allows users to compare the current price of a stock versus it’s analyst-predicted value in one year.
Essentially, this makes it clear whether stock should be bought or sold, and in each case just how much depending on the stock’s percentage difference. 
</body>
</html>
