<!DOCTYPE html>
<html>
  <head>
    <title>Stock Forecast</title>
    <link rel="stylesheet" type="text/css" href="project.css">
  </head>

  <body>
    <h1>Stock Forecast</h1>
    <%=@stocks%>

    <form>
    <link rel="stylesheet" type="text/css" href="project.css">
    Stock Name:<br>
    <input type="text" name="stockname">
    <br>
    </form>



  </body>

</html>
    