<!DOCTYPE html>
<html>
  <head>
    <title>Stock Forecast</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="project.css">

  </head>

  <body>

   
   <h1><b>Stock Forecast</b></h1>
  <form action="/" method="post">
    <select name="stock"><b>
      <% @stocks.each do |stock| %>
      <option value=<%= stock.name %>><%= stock.name %></option>
      <%end%>
    </select></b>
    <input type="submit">
  </form>
    
  </body>

</html>