@import url(http://fonts.googleapis.com/css?family=Amatic+SC);


body {
  font-size: 80px;
    font-family: "Amatic SC";
    text-align: center;
    color:White;
    background-image: url("empire-bg.jpg");
    border-style: solid;
    border-color: Black;
    width: 1270px;
    padding: 100px;
    border: 10px solid Black;
    margin: 10px;
    height: 660px
}

.stocks{
  background-color: rgba(0,0,0,0.5);
}

h1 {
  border-style: solid;
  border-color: Black;
  color: Black;
  font-size: 100px;
  background: #FF2323;
  text-align: center;
  font-family: "Amatic SC";
}

#stocksearch {padding-top: 10px}

#select-stock {
  width: 90px; 
  height: 70px;
  padding-bottom: 20px;
  font-size: 40px;
  color: Black;
}